
.open-sans-normal{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
:root{
    --orange:#FD6E0A;
    --dark-2:#474747;
    --dark-1:#181818;
    --dark-3:#757575;
    --btn-text-color:#FFFFFF;
    --background-color:#FFF8F3;

}
/*shared style}*/
.text-primary{
    color: var(--orange);}
.btn-primary{
    background-color: var(--orange);
    color: var(--btn-text-color);
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;

}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: var(--dark-1);
}
.section-description{
    font-size: 18px;
    color: var(--dark-3);

}
/*header*/

.header{
    background-image: url(portfolio-resources/images/developer.png), url(portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position:left top, bottom right;
    background-color: var(--background-color);

}

/*Nav styles*/
span{
    color: var(--orange);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-size: 45px ;
    font-weight: 800;
}
nav ul{
    display: flex;
align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px ;
    
    
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--dark-2);
}
/*banner styles*/
.banner-greetings{
    color: var(--dark-2);
    font-size:45px ;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    font-size: 18px;
}
.banner{
    display: flex;
    justify-content: space-between;
   align-items: center;
   margin: 0 35px 0 200px;
    
}
.banner-profile-picture{
    width: 580px;
}
.banner-content{
    max-width:580px ;
}
main{
    background-color: var(--background-color);
}
/*main styles*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
/*about styels*/
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 146px;
}

.about-items{
    display: flex;
    justify-content: space-around;
    margin-bottom: auto;
    padding: 131px 156px;
}
.item-description{
    font-weight: 600;
}