
.open-sans-normal{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
:root{
    --orange:#FD6E0A;
    --dark-2:#474747;
    --dark-1:#181818;
    --dark-3:#757575;
    --btn-text-color:#FFFFFF;
    --background-color:#FFF8F3;
    --drop-shadow:rgba(0, 0, 0, 0.06);

}
/*shared style}*/
.text-primary{
    color: var(--orange);}
.btn-primary{
    background-color: var(--orange);
    color: var(--btn-text-color);
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 18px 35px;

}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: var(--dark-1);
}
.section-description{
    font-size: 18px;
    color: var(--dark-3);

}
.text-center{
    text-align: center;
}
/*header*/

.header{
    background-image: url(portfolio-resources/images/developer.png), url(portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position:left top, bottom right;
    background-color: var(--background-color);

}

/*Nav styles*/
span{
    color: var(--orange);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-size: 45px ;
    font-weight: 800;
}
nav ul{
    display: flex;
align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px ;
    
    
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--dark-2);
}
/*banner styles*/
.banner-greetings{
    color: var(--dark-2);
    font-size:45px ;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    font-size: 18px;
}
.banner{
    display: flex;
    justify-content: space-between;
   align-items: center;
   margin: 0 35px 0 200px;
    
}
.banner-profile-picture{
    width: 580px;
}
.banner-content{
    max-width:580px ;
}

/*main styles*/
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/*about styels*/
.about{
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    
    background-color: var(--background-color);
}

.about-items{
    display: flex;
    justify-content: space-around;
    margin-bottom: auto;
    padding: 131px 156px;
}
.item-description{
    font-weight: 600;
}
/*skills section*/
.skills{
    margin-top: 100px;

}
.sectioin-title{
    text-align: center;

}
.section-description{
    text-align: center;
    
}
.skills-container{
    justify-content: space-around;
    display: flex;
    gap: 24px;
   
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px var(--drop-shadow);
}
/*resume section*/
.resume-container{
    display: flex;
    gap: 24px; 
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description, .experience-sub-title{
    color: var(--dark-3);
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    padding: auto;
    background-color: none;
    margin-top: 50px;
    
}
/*footer styles*/
.footer-column{
    width: 50%;
}
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    background-color: var(--background-color);
}
footer input[type="text"],footer input[type="email"], footer textarea{
    height:64px;
    border-radius:5px;
    background-color: var(--btn-text-color);
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}
footer input,textarea::placeholder{
    font-size: 20px;
    font-weight: 600;
}